{:paths   ["src"]
 :deps    {org.clojure/core.async           {:mvn/version "0.4.474"}
           orchestra                        {:mvn/version "2017.11.12-1"}
           org.apache.commons/commons-lang3 {:mvn/version "3.7"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {org.clojure/test.check    {:mvn/version "0.10.0-alpha3"}
                                provisdom/test            {:git/url "https://github.com/Provisdom/test.git"
                                                           :sha     "622511ac18147d70d427345dee3423616a929b12"}
                                com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                           :sha     "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
                  :main-opts   ["-m" "cognitect.test-runner"]}}}